<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename _OSI to OOSI</string>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>T09TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _STA to OSTA</string>
					<key>Find</key>
					<data>X1NUQQ==</data>
					<key>Replace</key>
					<data>T1NUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _PTS to OPTS</string>
					<key>Find</key>
					<data>X1BUUw==</data>
					<key>Replace</key>
					<data>T1BUUw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _WAK to OWAK</string>
					<key>Find</key>
					<data>X1dBSw==</data>
					<key>Replace</key>
					<data>T1dBSw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HECI to IMEI</string>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename PEG0 to P0P2</string>
					<key>Find</key>
					<data>UEVHMA==</data>
					<key>Replace</key>
					<data>UDBQMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename PEGP to GFX0</string>
					<key>Find</key>
					<data>UEVHUA==</data>
					<key>Replace</key>
					<data>R0ZYMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename SAT0 to SATA</string>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GLAN to IGBE</string>
					<key>Find</key>
					<data>R0xBTg==</data>
					<key>Replace</key>
					<data>SUdCRQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _PRW to OPRW</string>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>T1BSVw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _L09 to OL09</string>
					<key>Find</key>
					<data>X0wwOQ==</data>
					<key>Replace</key>
					<data>T0wwOQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _L0D to OL0D</string>
					<key>Find</key>
					<data>X0wwRA==</data>
					<key>Replace</key>
					<data>T0wwRA==</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>Ther_Rvp</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuSsdt</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>SataTabl</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>IgnoreNVRAMBoot</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Scan</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<false/>
		<key>RadeonDeInit</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>USB 10.13.4+ by PMHeart</string>
				<key>Find</key>
				<data>g32UDw+DlwQAAA==</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32UD5CQkJCQkA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0xFFF</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>iMac14,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
	</dict>
</dict>
</plist>
